CONFIG_INPUT=y
CONFIG_INPUT_EVDEV=y
CONFIG_INPUT_TOUCHSCREEN=y
# CONFIG_INPUT_KEYBOARD is not set
# CONFIG_INPUT_MOUSE is not set
# CONFIG_INPUT_MOUSEDEV is not set
CONFIG_I2C=y
CONFIG_DEBUG_FS=y

#CONFIG_TOUCHSCREEN_ARIES_ATMEL_MXT=y
CONFIG_ARIES_RMI4_BUS=y
CONFIG_ARIES_RMI4_DEBUG=y
CONFIG_ARIES_RMI4_FWLIB=y
CONFIG_ARIES_RMI4_I2C=y
# CONFIG_ARIES_RMI4_SMB is not set
CONFIG_ARIES_RMI4_GENERIC=y
CONFIG_ARIES_RMI4_F1A=y
# CONFIG_ARIES_RMI4_F09 is not set
CONFIG_ARIES_RMI4_F11=y
# CONFIG_ARIES_RMI4_F11_PEN is not set
CONFIG_ARIES_RMI4_F11_TYPEB=y
# CONFIG_ARIES_RMI4_VIRTUAL_BUTTON is not set
# CONFIG_ARIES_RMI4_F17 is not set
# CONFIG_ARIES_RMI4_F19 is not set
# CONFIG_ARIES_RMI4_F21 is not set
# CONFIG_ARIES_RMI4_F30 is not set
# CONFIG_ARIES_RMI4_F34 is not set
# CONFIG_ARIES_RMI4_F41 is not set
CONFIG_ARIES_RMI4_F54=y
